:root {
	--light-orange: #ffffff;
	--white: #ffffff;
	--orange: #ff9900;
	--text-orange: #ff6219;
	--light-peach: #fca176;
	--soft-peach: #ffcab2ce;
	--dark-brown: #493b29;
	--dark-tan: #4e4132;
	--light-tan: #ebc58c;
	--scrollbar-bg: #e4e4e4;
	--scrollbar-thumb: #ebbf8c;
	--box-shadow-tan: #ffd28f;
	--box-shadow: 0px 0px 6px 0px var(--box-shadow-tan);
}

.Register {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	padding: 25px;
	background-color: var(--light-orange);
	box-shadow: var(--box-shadow);
	margin-bottom: 50px;
	border-radius: 10px;
}

.center h1 {
	font-size: 22px;
	color: var(--text-orange);
	text-shadow: 1px 1px 0px var(--orange);
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 25px;
	width: 100%;
}

.form input {
	background-color: var(--white);
	width: 100%;
	padding: 7px;
	border: 1px solid var(--soft-peach);
	border-radius: 60px;
	color: var(--orange);
	font-weight: bold;
	outline: none;
}

.form input::placeholder {
	color: var(--light-peach);
	font-weight: 300;
}

.form button {
	width: 100%;
	padding: 10px;
	border-radius: 50px;
	border: none;
	background-color: var(--light-orange);
	border: 2px solid var(--orange);
	color: var(--text-orange);
	font-weight: bold;
	font-size: 14px;
	transition: 0.5s;
}

.form button:hover {
	background-color: var(--orange);
	transform: scale(1.05);
}

ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow: scroll;
	height: 350px;
	overflow-x: hidden;
}

ul::-webkit-scrollbar {
	width: 5px;
}

ul::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg);
	border-radius: 100px;
}

ul::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: 100px;
}

.map {
	box-shadow: 0px 6px 6px 0px #f7d8a080;
	background-color: var(--light-orange);
	border-radius: 10px;
	padding: 10px 0px 10px 9px;
	font-size: 13px;
	font-weight: bold;
	color: var(--text-orange);
	position: relative;
}

.remove {
	background-color: var(--light-peach);
	border: none;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	color: var(--white);
	position: absolute;
	top: 22px;
	right: 10px;
	transition: 0.5s;
}
.remove:hover {
	transform: scale(1.09);
	background-color: var(--text-orange);
}

@media screen and (max-height: 750px) {
	ul {
		height: 100px;
	}
}
/* -------------------------------- */
.form input[type='number']::-webkit-inner-spin-button,
.form input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
